@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Open+Sans:wght@300;400;500&family=Roboto+Condensed:wght@300;400&display=swap');

body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    /* font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400; */
    -webkit-font-smoothing: antialiased;
    -ms-overflow-style: none;
    scrollbar-width: thin;
}

/* body::-webkit-scrollbar {
  display: none;
} */

#img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 400px;
}

.card {
  border-radius: 4px;
  margin: 10px auto 10px auto;
  padding: 5px 0px 5px 0px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 570px;
  background-color: #F8F8F8;
}

/* .card:after {
  margin-top: 5px;
  content : "";
  position: absolute;
  left: 15%;
  x-index: 100;
  top  : 100%;
  width  : 70%;
  height   : 1px;
  background: black;
} */

.block {
  width: 220px;
  /* background-color: rgba(75, 74, 74, 0.1); */
  /* border-radius: 15px; */
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nickname, .time, .order {
    vertical-align: top;
    margin: auto;
    vertical-align: center;
    border-radius: 2px;
    color: black;
}

.nickname, .time {
  margin-left: 0px;
  font-size: 13pt;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 4px;
  text-align: right;
}

.time {
  font-size: 10pt;
  margin-bottom: 4px;
}

.order {
  margin-bottom: auto;
  margin-top: auto; 
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  width: 340px;
  font-size: 14pt;
  overflow: hidden;
  padding: 1px;
}
