@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');

body {
    background-color: #181818;
    font-weight: 450;
}

#rules {
  background-color: #582854be;
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  text-align: center;
  font-family: 'Roboto';
  margin: 10px auto 10px auto;
  font-size: 18pt;
  min-width: 400px;
  max-width: 600px;
  line-height: 1.6;
  border-radius: 2px;
}

.card {
  background-color: #383838;
  border-radius: 2px;
  margin: 10px auto 10px auto;
  min-width: 400px;
  max-width: 600px;
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nickname, .time, .order {
    vertical-align: top;
    font-family: 'Roboto';
    margin: auto;
    vertical-align: center;
    border-radius: 2px;
}

.nickname {
  color: #CACACA;
  /* margin: 10px auto 0px 10px;
  width: 50%; */
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 15pt;
  line-height: 1.6;
}

.time {
  color: #CACACA;
  /* margin: 10px 10px 0px auto;
  width: 25%; */
  margin-right: 10px;
  margin-top: 16px;
  font-weight: 500;
  line-height: 1.6;
}

.order {
  background-color: #242424;
  color: #CACACA;
  line-height: 1.6;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  font-weight: 300;
  margin-left: 10px;
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  width: calc(100% - 20px);
  font-size: 12pt;
}
